


.sc_jindu{
    width: 40%;
    height: 55%;
    background: #bce0ff;
    margin: 12% auto;
    position: relative;
    overflow: hidden;
}
.sc_jindu img{
    width: 100%;
    height: 100%;
}
.sc_jindu1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.sc_jindu2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 90;
    height:0;
    background: #3aa3fd
}
.sc_jindu2 img{
    width: 118%;
    height: 20px;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    margin-left: -7%;
}
.sc_jindushuju{
    width: 100%;
    position: absolute;
    height: 30px;
    text-align: center;
    color: #fff;
    left: 0;
    top: 10px;
    z-index: 95;
    font-weight: bold;
    font-size: 16px;
}

.sc_title {
    padding: 2.5% 3%;
    font-weight: bold;
    font-size: 16px;
}

.indexbox{
    padding: 5% 1.4% 0 1.4%;
    height: 90%;
}

.indexbox1{
    width: 100%;
    height: 60%;
    overflow: hidden;
    margin-top: 1%;
}

.indexbox2{
    width: 100%;
    height: 60%;
    overflow: hidden;
    margin-bottom: 1.5%;
}

.sc_box1lef{
    width: 32.26%;
    height: 100%;
    float: left;
    background: #fff;
}
.sc_box1rig{
    width: 66.24%;
    height: 100%;
    float: right;
    background: #fff;
}
.sc_box2lef{
    width: 32.26%;
    height: 100%;
    float: left;
    background: #fff;
    margin-top: 1.4%;
}
.sc_box2cen{
    width: 32.26%;
    height: 100%;
    float: left;
    background: #fff;
    margin-top: 1.4%;
    margin-left: 1.5%;
}
.sc_box2rig{
    width: 32.26%;
    height: 100%;
    float: left;
    background: #fff;
    margin-top: 1.4%;
    margin-left: 1.5%;
}
.titlelist{
    height: 5%;
    line-height: 2;
}



.sc_zhongdian{
    padding:0 3%;
    height: 83%;
}
.sc_zhuce{
    padding:0 3%;
    height: 85%;
}
.sc_zhongdian div{
    width: 100%;
    overflow: hidden;
    height: 9%;
    line-height: 2.2;
}
.sc_zhuce div{
    width: 100%;
    overflow: hidden;
    height: 9%;
    line-height: 1.8;
}
.sc_zhuce li{
    width: 100%;
    overflow: hidden;
    height: 30px;
    line-height: 1.8;
}
.sc_zhongdian div span{
    float: left;
    width: 25%;
    text-align: center;
}
.sc_zhuce li span,.sc_zhuce div span{
    float: left;
    width: 33%;
    text-align: center;
}


.sc_yuqing{
    padding:0 3%;
    height: 83%;
}
.sc_yuqing div{
    width: 96%;
    overflow: hidden;
    height: 9%;
    line-height: 2.2;
    padding: 0 2%;
}
.sc_yuqing div a{
   float: left;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}
.sc_yuqing div span{
    float: right;
    width: 50%;
    text-align: right;
}

.layui-layer-page .layui-layer-content {
    position: relative;
    overflow: auto;
    background: #1e8cea;
    color: #fff;
    padding: 10px;
    font-size: 14px;
}